body {
    font-family: 'Poppins', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    color: #d1d5db;
}

a {
    text-decoration: none;
    color: #facc15;
}

a:hover {
    text-decoration: underline;
}

header {
    background-image: url("background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: "Poppins", Arial, sans-serif ;
    color: #d1d5db; 

    height: 400px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding: 0 0;
    position: relative;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    color: #60a5fa;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #facc15;
}

section {
    max-width: 900px;
    padding: 60px 20px;
    max-width: 800px;
    margin: 0 auto;
    color: #e5e7eb;
    line-height: 1.8;
    transition: background 0.3s;
}

section:nth-child(odd) {
    background-color: #0f172a;
}

section:nth-child(even) {
    background-color: #111827;
}

section h2 {
    text-align: center;
    color: #d1d5db;
    border-bottom: 2px solid #60a5fa;
    display: inline-block;
    padding-bottom: 8px; 
    margin-bottom: 40px;
    font-weight: 600;
}

section h3 {
    color: #d1d5db;
    margin-top: 30px;
    margin-bottom: 15px; 
}

ul { 
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
    padding-left: 10px;
}
